<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>{{{ pagedata.meta.page_title }}}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{{ pagedata.meta.meta_description }}}" /><% if(pagedata.meta.meta_keywords !== "") {%>
	<meta name="keywords" content="{{{ pagedata.meta.meta_keywords }}}" /><%}%>
	<% if(pagedata.meta.og_tags && typeof pagedata.meta.og_tags === 'object') {%> <% if(pagedata.meta.og_tags["fb:pages"] && Array.isArray(pagedata.meta.og_tags['fb:pages']) && pagedata.meta.og_tags['fb:pages'].length > 0 ) {%> <% pagedata.meta.og_tags["fb:pages"].forEach(function(tag) { %>
	<meta property="fb:pages" content="{{{ tag }}}" /><%})%><%}%><% if(pagedata.meta.og_tags["fb:pages"] && typeof pagedata.meta.og_tags["fb:pages"] ==='string'){%><meta property="fb:pages" content="{{{ pagedata.meta.og_tags['fb:pages'] }}}" /><%}%><% if(pagedata.meta.og_tags["title"]) {%>
	<meta property="og:title" content="{{{ pagedata.meta.og_tags['title'] }}}" /><% } else {  %><meta property="og:title" content="{{{ pagedata.meta.page_title }}}" /><% } %> <% if(pagedata.meta.og_tags["description"]) {%>
	<meta property="og:description" content="{{{ pagedata.meta.og_tags['description'] }}}" /><% } else {  %><meta property="og:description" content="{{{ pagedata.meta.description }}}" /><% } %><% if(pagedata.meta.og_tags["image"]) {%>
	<meta property="og:image" content="{{{ pagedata.meta.og_tags['image'] }}}" /><%}%>
	<% if(pagedata.meta.og_tags["url"]) {%>
	<meta property="og:url" content="{{{ pagedata.meta.og_tags['url'] }}}" /><%}%><% if(pagedata.meta.og_tags["site_name"]) {%>
	<meta property="og:site_name" content="{{{ pagedata.meta.og_tags['site_name'] }}}" /><%}%> <% if(pagedata.meta.og_tags["type"]) {%>
	<meta property="og:type" content="{{{ pagedata.meta.og_tags['type'] }}}" /><%}%><% if(pagedata.meta.og_tags["locale"]) {%>
	<meta property="og:locale" content="{{{ pagedata.meta.og_tags['locale'] }}}" /><%}%> <% if(pagedata.meta.og_tags["fb:app_id"]) {%>
	<meta property="fb:app_id" content="{{{ pagedata.meta.og_tags['fb:app_id'] }}}" /><%}%> <% if(pagedata.meta.og_tags["article:author"]) {%>
	<meta property="article:author" content="{{{ pagedata.meta.og_tags['article:author'] }}}" /><%}%> <% if(pagedata.meta.og_tags["article:publisher"]) {%>
	<meta property="article:publisher" content="{{{ pagedata.meta.og_tags['article:publisher'] }}}" /><%}%><%}%><% if(pagedata.meta.is_external_searchable === false) {%>
	<meta name="robots" content="noindex, follow" /><%}%>
	<% if(pagedata.canonicalurl) {%><link rel="canonical" href="{{{ pagedata.canonicalurl }}}" />
	<%}%>
	<link rel="apple-touch-icon-precomposed" type="text/css" href="/favico/apple-touch-icon-precomposed.png"/>
	<link rel="apple-touch-icon-precomposed" type="text/css" sizes="72x72" href="/favico/apple-touch-icon-72x72-precomposed.png"/>
	<link rel="apple-touch-icon-precomposed" type="text/css" sizes="114x114" href="/favico/apple-touch-icon-114x114-precomposed.png"/>


	<script type="text/javascript"><% Object.keys(pagedata.omniture).forEach(function(data){%>
		{{'\t\t\t'}}var {{data}}='{{pagedata.omniture[data]}}';{{' '}}<%})%>
	{{'\t\t'}}</script>


	<script type="text/javascript">
		!function(o){var e="at-body-style";function t(){return o.getElementsByTagName("head")[0]}!function(e,t,n){if(e){var i=o.createElement("style");i.id=t,i.innerHTML=n,e.appendChild(i)}}(t(),e,"body {opacity: 0 !important}"),setTimeout(function(){!function(e,t){if(e){var n=o.getElementById(t);n&&e.removeChild(n)}}(t(),e)},1000)}((window,document));
	</script>

	{{{ renderResourceHints() }}}
	{{{ renderStyles() }}}
</head>
<body>
<!--vue-ssr-outlet-->
{{{ renderState() }}}
<!--$$NGINX_TARGET$$-->
<!--$$CLOUDFLARE_TARGET$$-->
{{{ renderScripts() }}}
<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=es2015%2Ces2016%2Ces2017%2Ces5%2Ces6%2Ces7%2Cdefault"></script>
<%if(pagedata.scripts && pagedata.scripts.length >0) { pagedata.scripts.map(function(m,i){%> <script src="{{pagedata.scripts[i]}}" defer async ></script> <%});}%>
<% if(pagedata && pagedata.jsonld){%><script  type='application/ld+json'>{{{pagedata.jsonld}}}</script><%}%>
</body>
</html>
